/* move special fonts to HTML head for better performance */
@import url(https://fonts.googleapis.com/css?family=Voltaire);

/* use special fonts in certain elements */
h1,h2,h3,h4,label.lead,.btn,.form-group,.navbar a, thead, p 
{
  text-transform:uppercase;
  font-family:'Voltaire',Arial,sans-serif;
  letter-spacing:2px;

}


.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 1200px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    .sidebar-bg {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #e3c40b;
      padding: 15px;
      border-color: #080808;
      font-family:'Voltaire',Arial,sans-serif;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }


.navbar-inverse {
    background-color: #e3c40b;
    border-color: #080808;
  }

.navbar-inverse .navbar-nav>li>a {
    color: #1e1c1c;
  }

.btn-group-lg>.btn, .btn-lg {
    padding: 15px 20px;
    font-size: 35px;
    line-height: 1.3333333;
    border-radius: 10px;
}

.btn-info {
    color: #fff;
    background-color: #e3c40b;
    border-color: #555;
    padding: 15px 20px;
    font-size: 40px;
}

.btn-info:hover {
    color: #fff;
    background-color: #b32f07;
    border-color: #ede4e0;
}


.form-group, form-group row {
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}


/* The submit button */
.btn-primary {
    color: #fff;
    background-color: #2e6da4;
    border-color: #2e6da4;
    margin-left: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2e6da4;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2e6da4;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}