<!DOCTYPE html>
<html lang="en">
<head>
  <title>Raspberry Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src='https://kit.fontawesome.com/8d4ed307b9.js' crossorigin='anonymous'></script>
  <link type="text/css" rel="stylesheet" href="../static/style.css"/>
  
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <i class='fab fa-raspberry-pi' style='font-size:40px;color:red;line-height:1.5'></i>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    
    <div class="col-sm-2 sidenav">
      <a href="{{ url_for('watering') }}" class="btn btn-info" role="button">
        <i class='fas fa-shower'></i></a>
    </div>

    <div class="col-sm-6 text-left"> 
      <h1>Configuration</h1>
      <p>Identify where the sensors are installed</p>
    <form class="form-group row" action={{ url_for('configuration') }} method="post">
       <div class="form-group">
       <label for="FormCustomSelectPref">Sensor #:</label>
       <select class="form-control" id="FormCustomSelectPref" name="sen_name">
          <option selected>Choose Sensor...</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
      </select>
    </div>
    <div class="form-group">
      <label for="formControlDefault">Plant Name:</label>
      <input type="text" class="form-control" id="formControlDefault" placeholder="Enter plant name" name="plant_name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
      <hr>
      <h3>Sensors</h3>
      <p>Online Sensors activity</p>

       <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>
     
     $(function(){
      window.setInterval(function(){
        loadNewLecture()
      }, 2000)

     function loadNewLecture(){
      $.ajax({
          url:"/update_decimal",
          type:"POST",
          dataType:"json",
          success: function(data){
                 $(random_decimal).replaceWith(data)
          }

      });
     }
    });
    </script>

      <div id="random_decimal">
      {{ lecture }}
        <table class="table">
          <thead>
            <th>Pot.1</th>
            <th>Pot.2</th>
            <th>Sensor 1</th>
            <th>Sensor 2</th>
            <th>Sensor 3</th>
            <th>Sensor 4</th>
          </thead>
          <tbody>
             {% for i in table_data %}
                 {% if loop.index0 is divisibleby(6) %}
                <tr>
                 {% endif %}
                  <td>{{i}}</td>
                 {% if loop.index is divisibleby(6) %}
                </tr>
                 {% endif %}
             {% endfor %}
          </tbody>
        </table>
      </div>
    </div>


    <div class="col-sm-4 sidebar-bg">
        <img class="thumbnail img-responsive" src="/plot1.png" alt="Sensor 1">
        <img class="thumbnail img-responsive" src="/plot2.png" alt="Sensor 2">
        <img class="thumbnail img-responsive" src="/plot3.png" alt="Sensor 2">
        <img class="thumbnail img-responsive" src="/plot4.png" alt="Sensor 2">

    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

</body>
</html>
