<!DOCTYPE html>
<html lang="en">
<head>
  <title>Raspberry Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src='https://kit.fontawesome.com/8d4ed307b9.js' crossorigin='anonymous'></script>
  <link type="text/css" rel="stylesheet" href="../static/style.css"/>
  
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <i class='fab fa-raspberry-pi' style='font-size:40px;color:red;line-height:1.5'></i>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    
    <div class="col-sm-1 sidenav">
    
    </div>

    <div class="col-sm-6 text-left"> 
      <h1>Configuration</h1>
      <p>Identify where the sensors are installed</p>
  
      <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Sensor #</th>
        <th>ADC Ch #</th>
        <th>Plant Name</th>
        <th>Motor #</th>
        <th>GPIO pin</th>
        
      </tr>
    </thead>
    <tbody>
        {% for item in  sensor_table['data'] %}
           
          <tr>
            <td>{{ item['number'] - 1 }} </td>
            <td>{{ item['number'] }} </td>
            <td>{{ item['plantName'] }}</td>
            <td>{{ item['motor_number'] }}</td>
            <td>{{ item['motor_GPIO_pin'] }}</td>
          </tr>
           
        {% endfor %}
    </tbody>
  </table>

    {% block content %}
    <form class="form-group row" action={{ url_for('configuration') }} method="post">
       <div class="form-group">
       <label for="validationCustom04">Sensor #:</label>
       <select class="form-control" id="validationCustom04" name="sen_name" required>
          <option selected disabled>Choose Sensor #...</option>
          <option value="2">1</option>
          <option value="3">2</option>
          <option value="4">3</option>
          <option value="5">4</option>
          <!--option value="7">7</option >
          <option value="8">8</option  -->
       </select>
       </div>
       <div class="form-group">
       <label for="validationCustom04">Motor #:</label>
       <select class="form-control" id="validationCustom04" name="motor_name" required>
          <option selected disabled>Choose Motor #...</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <!--option value="7">7</option >
          <option value="8">8</option  -->
       </select>
       </div>
       <div class="form-group">
       <label for="validationCustom04">GPIO pin:</label>
       <select class="form-control" id="validationCustom04" name="GPIO_pin" required>
          <option selected disabled>Choose GPIO pin...</option>
          <option value="17">17</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="27">27</option>
          <!--option value="7">7</option >
          <option value="8">8</option  -->
       </select>
       </div>
    <div class="form-group">
      <label for="validationCustom05">Plant Name:</label>
      <input type="text" class="form-control" id="validationCustom05" placeholder="Enter plant name" name="plant_name" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endblock %}
      <hr>
    <form class="form-group row" action={{ url_for('setup_sampling_time') }} method="post">
       <div class="form-group">
       <label for="validationCustom04">Sampling time(s) in graphs:</label>
       <select class="form-control" id="validationCustom04" name="samptime" required>
          <option selected disabled>Choose Sampling Time...</option>
          <option value="2">2s</option>
          <option value="30">30s</option>
          <option value="60">60s</option>
       </select>
       </div>
       <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
    <hr>
      <h3>Sensors</h3>
      <p>Online Sensors activity</p>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>
     
     $(function(){
      window.setInterval(function(){
        loadNewLecture()
      }, 2000)

     function loadNewLecture(){
      $.ajax({
          url:"/update_decimal",
          type:"POST",
          dataType:"json",
          success: function(data){
                 $(random_decimal).replaceWith(data)
          }

      });
     }
    });
    </script>

      <div id="random_decimal">
      {{ lecture }}
        <table class="table">
          <thead>
            <th>Pot.1(0)</th>
            <th>Pot.2(1)</th>
            <th>Sensor 1(2)</th>
            <th>Sensor 2(3)</th>
            <th>Sensor 3(4)</th>
            <th>Sensor 4(5)</th>
          </thead>
          <tbody>
             {% for i in table_data %}
                 {% if loop.index0 is divisibleby(6) %}
                <tr>
                 {% endif %}
                  <td>{{i}}</td>
                 {% if loop.index is divisibleby(6) %}
                </tr>
                 {% endif %}
             {% endfor %}
          </tbody>
        </table>
      </div>

      <hr>
      <h3>Motors</h3>
      <div id="motor toogle">

       

        <script>
            function loadM1(motorNum) {
             const xhttp = new XMLHttpRequest();
             var checkBox = document.getElementById("myCheck1");
             var text = document.getElementById("text");
  
             if (checkBox.checked == true){
                       //text.style.display = "block";
                       xhttp.open("GET", "/activate_motor/" + `${motorNum}`);
                       xhttp.onload = function() {
                        const response = xhttp.responseText;
                        document.querySelector('#text').innerHTML = response;
                        return false;
                       };                     
                       xhttp.send();
                } else {
                     //text.style.display = "none";
                     xhttp.open("GET", "/stop_motor/" + `${motorNum}`);
                     xhttp.onload = function() {
                        const response = xhttp.responseText;
                        document.querySelector('#text').innerHTML = response;
                        return false;
                       };
                     xhttp.send();
                  };
             }


             function loadM2(motorNum) {
             const xhttp = new XMLHttpRequest();
             var checkBox = document.getElementById("myCheck2");
             var text = document.getElementById("text");
  
             if (checkBox.checked == true){
                       //text.style.display = "block";
                       xhttp.open("GET", "/activate_motor/" + `${motorNum}`);
                       xhttp.onload = function() {
                        const response = xhttp.responseText;
                        document.querySelector('#text').innerHTML = response;
                        return false;
                       };                      
                       xhttp.send();
                } else {
                     //text.style.display = "none";
                     xhttp.open("GET", "/stop_motor/" + `${motorNum}`);
                     xhttp.onload = function() {
                        const response = xhttp.responseText;
                        document.querySelector('#text').innerHTML = response;
                        return false;
                       };
                     xhttp.send();
                  };
             }

             function loadM3(motorNum) {
             const xhttp = new XMLHttpRequest();
             var checkBox = document.getElementById("myCheck3");
             var text = document.getElementById("text");
  
             if (checkBox.checked == true){
                       //text.style.display = "block";
                       xhttp.open("GET", "/activate_motor/" + `${motorNum}`);
                       xhttp.onload = function() {
                        const response = xhttp.responseText;
                        document.querySelector('#text').innerHTML = response;
                        return false;
                       };                       
                       xhttp.send();
                } else {
                     //text.style.display = "none";
                     xhttp.open("GET", "/stop_motor/" + `${motorNum}`);
                     xhttp.onload = function() {
                        const response = xhttp.responseText;
                        document.querySelector('#text').innerHTML = response;
                        return false;
                       };
                     xhttp.send();
                  };
             }

             function loadM4(motorNum) {
             const xhttp = new XMLHttpRequest();
             var checkBox = document.getElementById("myCheck4");
             var text = document.getElementById("text");
  
             if (checkBox.checked == true){
                       //text.style.display = "block";
                       xhttp.open("GET", "/activate_motor/" + `${motorNum}`);
                       xhttp.onload = function() {
                        const response = xhttp.responseText;
                        document.querySelector('#text').innerHTML = response;
                        return false;
                       }; 
                       xhttp.send();
                } else {
                     //text.style.display = "none";
                     xhttp.open("GET", "/stop_motor/" + `${motorNum}`);
                     xhttp.onload = function() {
                        const response = xhttp.responseText;
                        document.querySelector('#text').innerHTML = response;
                        return false;
                       };
                     xhttp.send();
                  };
             }
        </script>

        <!-- Rounded switch -->
        <!--p id="text" style="display:none"></pc-->
        <p id="text"></p>

        <label class="switch">
        <input type="checkbox" id="myCheck1" onclick="loadM1(17)">
        <span class="slider round"></span>
        </label>

        <label class="switch">
        <input type="checkbox" id="myCheck2" onclick="loadM2(27)">
        <span class="slider round"></span>
        </label>

        <label class="switch">
        <input type="checkbox" id="myCheck3" onclick="loadM3(22)">
        <span class="slider round"></span>
        </label>

        <label class="switch">
        <input type="checkbox" id="myCheck4" onclick="loadM4(23)">
        <span class="slider round"></span>
        </label>

      </div>

    </div>


    <div class="col-sm-5 sidebar-bg">
        <h4>Samples Window Now - 24 hours</h4>
        <div id="sampling">
         <p>Sampling time (s) :  {{ new_sampling }} </p>
         </div>
        <img class="thumbnail img-responsive" src="/plot1.png" alt="Sensor 1">
        <img class="thumbnail img-responsive" src="/plot2.png" alt="Sensor 2">
        <img class="thumbnail img-responsive" src="/plot3.png" alt="Sensor 3">
        <img class="thumbnail img-responsive" src="/plot4.png" alt="Sensor 4">

    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

</body>
</html>
